@using System.Drawing
<div class="jumbotron">
    <h1>Projeto Aurora</h1>
    <ul class="lead">
        <li>5 dados são rolados pelo jogador</li>
        <li>Os dados são comparados contra 15 categorias de pontuação</li>
        <li>O jogador escolhe em qual categoria deseja pontuar, de forma a obter o melhor resultado possível</li>
    </ul>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h2>Jogar</h2>
        <ul class="list-unstyled" id="listaDados"></ul>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" title="Clique para jogar" id="btnLancamento">Lançar os dados</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <h2>Escolha uma regra de pontuação</h2>
        <ul class="list-unstyled list-group" id="listaRegras"></ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="row">
            <div class="col-sm-12">
                <h2>Sua pontuação</h2>
                <p class="text-info">Somando <span id="info-pontos">x</span> pontos para você!</p>
                <p>Informe seu nome e entre para o rankin!</p>
                <form method="post" action="#" enctype="text/plain">
                    <input type="text" placeholder="seu nome" maxlength="40" name="jogador" id="txtJogador" />
                    <input type="submit" class="btn btn-primary btn-sm" value="Classificar!" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Ranking</h2>
                <ol>
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                    <li>D</li>
                    <li>E</li>
                </ol>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script type="text/javascript" src="~/Scripts/aurora.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jogo.js"></script>
}